<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application>
        <activity
            android:name="com.example.bodeul.ui.booking.BookingHealthProfileActivity"
            android:exported="true"
            tools:replace="android:exported" />
        <activity
            android:name="com.example.bodeul.ui.booking.BookingAppointmentSelectorActivity"
            android:exported="true"
            tools:replace="android:exported" />
        <activity
            android:name="com.example.bodeul.debug.AutomationEntryActivity"
            android:exported="true"
            android:theme="@style/Theme.Bodeul" />
        <activity
            android:name="com.example.bodeul.debug.ManagerGuidePreviewSelectorActivity"
            android:exported="true"
            android:label="@string/debug_manager_guide_preview_short_label"
            android:theme="@style/Theme.Bodeul" />
        <activity
            android:name="com.example.bodeul.debug.ManagerGuidePreviewActivity"
            android:exported="false"
            android:theme="@style/Theme.Bodeul" />
        <activity android:name="com.example.bodeul.ui.auth.SplashActivity">
            <meta-data
                android:name="android.app.shortcuts"
                android:resource="@xml/debug_shortcuts" />
        </activity>
    </application>

</manifest>
